<!DOCTYPE html>
<html lang="ro">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="recenzie.component.css">
  <title>Lasă o Recenzie</title>
</head>

<header>
  <h1>Lasă o recenzie</h1>
</header>
<body>
<div class="review-container">
  <section>
    <form id="reviewForm" (ngSubmit)="submitReviewForm()" #reviewForm="ngForm">
      <div class="form-group">
        <label for="comment">Comentariu</label>
        <textarea id="comment" name="comment" rows="5" [(ngModel)]="comment" required></textarea>
      </div>
      <div class="form-group">
        <label for="rating">Rating</label>
        <select id="rating" name="rating" [(ngModel)]="rating" required>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5" selected>5</option>
        </select>
      </div>
      <div class="form-group">
        <label for="doctor">Doctor</label>
        <input type="text" id="doctor" name="doctor" [(ngModel)]="doctor" required>
      </div>
      <div class="form-group">
        <label for="organization">Organizație</label>
        <input type="text" id="organization" name="organization" [(ngModel)]="organization" required>
      </div>
      <button type="submit" [disabled]="!reviewForm.form.valid">Trimite Recenzia</button>
    </form>
  </section>
</div>
</body>
</html>
