
body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  color: #272727;
  font-size: 18px; /* Mărirea fontului pentru citire ușoară */
  line-height: 1.6;
}

header {
  background-color: #007bff; /* O nuanță închisă de albastru */
  color: #fff;
  text-align: center;
  padding: 14px;
}

.parallax-bg {
  position: relative;
  overflow: hidden;
  height: 200px;
  background: url('persoane-cu-handicap.jpg') no-repeat center center fixed;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; /* Ajustează la 100% pentru a se potrivi cu lățimea containerului */
  max-width: 960px; /* Asigură-te că acesta este același cu lățimea maximă a celorlalte secțiuni */
  margin: 40px auto; /* Acesta va centra secțiunea */
}


.intro, .network, .collaboration, .values, .contact, .accessibility {
  max-width: 960px;
  margin: 40px auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
}

section {
  border: 2px solid #007bff;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin: 20px auto;
  padding: 20px;
  max-width: 800px;
  border-radius: 10px;
}

h2 {
  color: #007bff;
  margin-bottom: 20px;
}

p, ul {
  line-height: 1.6;
}

ul {
  padding-left: 20px;
}

ul li {
  margin-bottom: 10px;
}

footer {
  color: #007bff;
  text-align: center;
  padding: 20px;
  margin-top: auto;
}

h1 {
  font-weight: bold;
  color: #fff;
  font-size: 2.5rem;
  margin-bottom: 0;
}

