<footer class="footer">
  <div class="container">
    <div class="footer-content">
      <div class="social-icons">
        <a href="https://www.facebook.com/dani.cordis.7/?locale=ro_RO" aria-label="Facebook" target="_blank"><img src="https://img.icons8.com/color/48/000000/facebook.png" alt="Facebook"></a>
        <a href="https://www.instagram.com/danicordis/" aria-label="Instagram" target="_blank"><img src="https://img.icons8.com/color/48/000000/instagram-new.png" alt="Instagram"></a>
      </div>


      <div class="footer-info">
        <span class="text-muted">All rights reserved &copy; 2023</span>
        <!-- Adaugă orice alte informații sau link-uri suplimentare aici -->
      </div>
    </div>
  </div>
</footer>

<script>
  window.addEventListener("scroll", function() {
    var footer = document.querySelector(".footer");
    var scrollPosition = window.scrollY;

    if (scrollPosition > 200) {
      footer.classList.add("fixed-footer");
    } else {
      footer.classList.remove("fixed-footer");
    }
  });
</script>
